##This is the lastest working kickstart file
##Note: Make sure you have at least 2GB vRAM so that installation won't fail

##version=CentOS7
# Action
install
text
#firstboot --disable

# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="EPEL" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64

# Accept Eula
#eula --agreed ##for RHEL

#reboot
poweroff

# Use network installation
url --url="http://10.5.177.27/centos/7"

##For cdrom installation
#cdrom

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard 'us'

# System language
lang en_US.UTF-8

# Network information
#network --device=ens32 --bootproto=static --ip=10.5.177.41 --netmask=255.255.255.177 --gateway=10.5.177.1 --nameserver=10.1.1.10,10.1.1.11
#network --hostname=cs-v-jenkins-mnl-t2

# Root password
rootpw --iscrypted $1$0Tcmp4Z2$Kg77eFemukGlKRSgf9d/h1

# System services
services --enabled=network,sshd

# System timezone
timezone Etc/UTC --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

##For auto-partition
##System bootloader configuration
#bootloader --location=mbr --boot-drive=sda
#zerombr
#autopart --type=lvm
## Partition clearing information
#clearpart --all --drives=sda
#ignoredisk --only-use=sda


# System bootloader configuration
bootloader --location=mbr --boot-drive=sda --append="console=ttyS0,115200n8"
# Any disks whose formatting is unrecognized are initialized.
zerombr
# Partition clearing information
clearpart --all --drives=sda --initlabel
# Disk partitioning information
# Initialize boot partition.
part /boot --fstype=ext4 --fsoptions="defaults,noatime,commit=60" --size=512 --asprimary
part swap --size=1024
part / --size=10240  --fstype=ext4 --fsoptions="defaults,noatime,commit=60"



# Selinux State disabled
selinux --disabled

#Package installation
%packages
@base
@core
%end
